<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="/anmedia/favicon.ico" />
<link rel="icon" type="image/png" href="/anmedia/favicon.png" />
{% endblock favicon %}

{% block linkcss %}
<link rel="stylesheet" href="/anmedia/style.css" />
{% endblock linkcss %}
{% block inlinecssblock %}
<style type="text/css">
{% block inlinecss %}
{% endblock inlinecss %}
</style>
{% endblock inlinecssblock %}

<title>{% block title %}Astrometry.net{% endblock %}</title>
</head>

<body>

{% block usernameblock %}
<div id="username">
{% if user.is_authenticated %}
{% block loggedin %}
    <p>Logged in as {{ user.username }}.</p>
{% endblock %}
{% else %}
{% block notloggedin %}{% endblock %}
{% endif %}
</div>
{% endblock usernameblock %}

{% block logo %}
<div id="logo">
{% include "logo.html" %}
</div>
{% endblock logo %}

<div id="content">
{% block content %}
base content
{% endblock %}
</div>

</body>
</html>
