{% extends "portal/base.html" %}

{% block title %}
Astrometry.net Job
{% endblock title %}

{% block inlinecss %}
#logout { float:right; padding:5px; margin-top:0; margin-bottom:auto;}
#logo { width:300px; margin-left:auto; margin-right:auto; text-align:center; padding:5px;}
#banner { text-align:center; padding:5px;}
div.err { font-size:110%; color:red; text-align:center;}
{% endblock inlinecss %}

{% block logo %}
{% endblock logo %}

{% block loggedin %}
<div id="logout">
<form name="logoutform" method="post" action="/logout/">
Logged in as <b>{{ user.username }}</b>. &nbsp;
{#<input type="submit" name="logout" value="Logout" />#}
<a href="javascript:document.logoutform.submit()">Logout</a>
</form>
</div>
{% endblock loggedin %}

{% block content %}
<div style="clear:both;">
</div>

<div id="banner">
<img src="http://oven.cosmo.fas.nyu.edu/test/you_are_here1.png" alt="Paste Url. Wait. You are Here." />
</div>

<form enctype="multipart/form-data" method="post">

{% if urlerr or fileerr %}
<div class="err">
{% if urlerr %}
{{ urlerr }}
{% endif %}
{% if fileerr %}
{{ fileerr }}
{% endif %}
</div>
{% endif %}

<p style="text-align:center">
{% if isurl %}
{{ form.url }}
{% else %}
{{ form.file }}
{% endif %}
<input name="submit" value="Submit" type="submit" />
</p>

<div id="switch_views" style="font-size:10px; text-align:center; color:#999;">
{% if isurl %}
<a style="color:#bbb;" href="/job/newfile">switch to file upload version</a>
{% else %}
<a style="color:#bbb;" href="/job/newurl">switch to image URL version</a>
{% endif %}
&nbsp;&nbsp;
<a style="color:#bbb;" href="/job/newlong">switch to full version</a>
</div>

</form>
{% endblock content %}

