{% extends "portal/newjob.html" %}

{% block moreinlinecss %}
table.c { margin-left:auto; margin-right:auto; }
td.l { text-align:right; }
#formtable { margin-left:auto; margin-right:auto; border-style:solid; border-color:gray; border-width:thin; }
#formtable > tbody > tr > td { padding:10px; }
.explain { color:blue; font-size:80%; }
#scalelist { list-style:none; }
#scalelist > li { margin-top:1em; }
#tdsubmit { text-align:center; }

#scalevalues { border-collapse:collapse; margin:10px;}

#scalepanel { border-style:solid; border-color:gray; border-width:thin; margin-right:auto; margin-left:auto; }

.scalelabel { text-align:right; padding-left:15px; }

td[col=ll] { padding-left:15px; }
td[col=lr] { padding-right:10px; }
td[col=rr] { padding-right:10px; }
td[col=rl] { padding-left:15px; }

#boundscell { padding:10px; padding-bottom:3px; }
#errestcell { padding:10px; padding-bottom:3px; }

.boxcol { border-style:solid; border-width:thin; border-color:gray; }
#spacercol { border-style:none; width:10px; }

#toprow td { padding-top:10px; }
#bottomrow td { padding-bottom:10px; }

#xycol { margin-left:20px; }

{% endblock moreinlinecss %}

{% comment %}
{% endcomment %}

{% block javascript %}
<script type="text/javascript">
var srcurl;
var srcurl_label;
var srcurl_error;
var srcurl_explain;
var srcfile;
var srcfile_label;
var srcfile_error;
var srcfile_explain;
var srcfitsfile;
var srcfitsfile_label;
var srcfitsfile_error;
var srcfitsfile_explain;
var srcfitsurl;
var srcfitsurl_label;
var srcfitsurl_error;
var srcfitsurl_explain;
var fitscols;
var oldsource = '';
var scaleplus;
var scaleminus;
var scalepanel;
var selectunits;
var ulradio;
var evradio;
var scalelo;
var scalehi;
var scaleest;
var scaleerr;

function submitForm() {
  hidden = document.getElementById('hiddenitems');
  // add form elements to the "hidden" div so that they are part of the
  // document tree so their values get submitted with the form.
  elements = [ selectunits, ulradio, evradio, scalelo, scalehi,
    scaleest, scaleerr ];
  longform = document.getElementById('longform');
  formelements = longform.elements;
  for (var i=0; i<elements.length; i++) {
    var gotit = false;
    for (var j=0; j<formelements.length; j++) {
      if (elements[i] == formelements[j]) {
        gotit = true;
      }
    }
    if (!gotit) {
      hidden.appendChild(elements[i]);
    }
  }
  return true;
}  

function sourceChanged() {
  selectsource = document.getElementById('id_xysrc');
  if (selectsource.value == oldsource) {
    return;
  }
  oldsource = selectsource.value;
  switch (selectsource.value) {
  case 'url':
    srcs = [srcurl];
	label = srcurl_label;
	error = srcurl_error;
	explain = srcurl_explain;
	break;
  case 'file':
    srcs = [srcfile];
	label = srcfile_label;
	error = srcfile_error;
	explain = srcfile_explain;
	break;
  case 'fitsfile':
    srcs = [srcfitsfile, fitscols];
	label = srcfitsfile_label;
	error = srcfitsfile_error;
	explain = srcfitsfile_explain;
	break;
  case 'fitsurl':
    srcs = [srcfitsurl, fitscols];
	label = srcfitsurl_label;
	error = srcfitsurl_error;
	explain = srcfitsurl_explain;
	break;
  }
  activesource = document.getElementById('activesource');
  removeAllChildren(activesource);
  for (var i=0; i<srcs.length; i++) {
    activesource.appendChild(srcs[i]);
  }
  activesource_label = document.getElementById('activesource-label');
  removeAllChildren(activesource_label);
  activesource_label.appendChild(label);
  activesource_error = document.getElementById('activesource-error');
  removeAllChildren(activesource_error);
  activesource_error.appendChild(error);
  activesource_explain = document.getElementById('activesource-explain');
  removeAllChildren(activesource_explain);
  activesource_explain.appendChild(explain);
}

function removeAllChildren(node) {
	while (node.childNodes.length) {
		node.removeChild(node.childNodes[0]);
	}
}

function onLoad() {
  fitscols = document.getElementById('fitscols');

  srcurl      = document.getElementById('imgurl-input');
  srcfile     = document.getElementById('imgfile-input');
  srcfitsurl  = document.getElementById('fitsurl-input');
  srcfitsfile = document.getElementById('fitsfile-input');

  srcurl_label      = document.getElementById('imgurl-label');
  srcfile_label     = document.getElementById('imgfile-label');
  srcfitsurl_label  = document.getElementById('fitsurl-label');
  srcfitsfile_label = document.getElementById('fitsfile-label');

  srcurl_error      = document.getElementById('imgurl-error');
  srcfile_error     = document.getElementById('imgfile-error');
  srcfitsurl_error  = document.getElementById('fitsurl-error');
  srcfitsfile_error = document.getElementById('fitsfile-error');

  srcurl_explain      = document.getElementById('imgurl-explain');
  srcfile_explain     = document.getElementById('imgfile-explain');
  srcfitsurl_explain  = document.getElementById('fitsurl-explain');
  srcfitsfile_explain = document.getElementById('fitsfile-explain');

  sourceChanged();

  scaleplus  = document.getElementById('scaleplus');
  scaleminus = document.getElementById('scaleminus');
  scalepm = document.getElementById('scalepmimg');
  removeAllChildren(scalepm);

  scalepanel = document.getElementById('scalepanel');
  selectunits = document.getElementById('id_scaleunits');
  ulradio = document.getElementById('scaletype_0');
  evradio = document.getElementById('scaletype_1');
  scalelo = document.getElementById('id_scalelower');
  scalehi = document.getElementById('id_scaleupper');
  scaleest = document.getElementById('id_scaleest');
  scaleerr = document.getElementById('id_scaleerr');

  holder = document.getElementById('scalepanelholder');
  removeAllChildren(holder);

  {% if scaletype_err or scalelower_err or scaleupper_err or scaleest_err or scaleerr_err %}
  scaleshowhide(true);
  {% else %}
  scaleshowhide(false);
  {% endif %}

  scalechanged();
}
function setFsUl() {
  var u = document.getElementById('scaletype_0');
  u.checked = 1;
  scalechanged();
}
function setFsEv() {
  var u = document.getElementById('scaletype_1');
  u.checked = 1;
  scalechanged();
}
function scaleshowhide(show) {
  scalepm = document.getElementById('scalepmimg');
  removeAllChildren(scalepm);
  holder = document.getElementById('scalepanelholder');
  if (show) {
    child = scaleminus;
	holder.appendChild(scalepanel);
  } else {
    child = scaleplus;
	removeAllChildren(holder);
  }
  scalepm.appendChild(child);
}
function unitsChanged() {
  scalechanged();
}
function scalechanged() {
  scaletxt = document.getElementById('scaletext');
  val = '';
  if (ulradio.checked) {
	lower = scalelo.value;
    upper = scalehi.value;
    if (lower == '') {
      lower = '(none)';
    }
    if (upper == '') {
      upper = '(none)';
    }
    val = 'between ' + lower + ' and ' + upper;
  } else if (evradio.checked) {
  	est = scaleest.value;
    err = scaleerr.value;
    if (est == '') {
      est = '(none)';
    }
    if (err == '') {
      err = '(none)';
    }
    val = est + ' plus or minus ' + err + '%';
  } else {
    val = '(none)';
  }
  switch (selectunits.value) {
  case 'arcsecperpix':
    txt = val + " arcseconds per pixel";
    break;
  case 'arcminperpix':
    txt = val + " arcminutes per pixel";
    break;
  case 'arcminwidth':
    txt = val + " arcminutes wide";
    break;
  case 'degreewidth':
    txt = val + " degrees wide";
    break;
  case 'focalmm':
    txt = "focal length of " + val + " mm";
	break;
  }
  removeAllChildren(scaletxt);
  scaletxt.appendChild(document.createTextNode(txt));
}
</script>
{% endblock javascript %}

{% block bodytag %}
<body onload="onLoad()">
{% endblock bodytag %}

{% block logo %}
<div id="logo">
{% include "logo.html" %}
</div>
{% endblock logo %}

{% block banner %}
{% endblock banner %}

{% block newjobcontent %}

<div id="switch_views">
<a href="/job/newfile">switch to file upload version</a>
&nbsp;&nbsp;
<a href="/job/newurl">switch to image URL version</a>
</div>

<br />

<form enctype="multipart/form-data" method="post" id="longform" onsubmit="return submitForm();">

<table id="formtable">

<tr>
<td class="l">Data source:</td>
<td> {{ form.xysrc }} </td>
</tr>

<tr>
<td class="l">
<span id="activesource-label"> active-source-label </span>
</td>
<td>
<span id="activesource-error" class="err"> active-source-error </span>
<span id="activesource"> active source </span>
<span id="activesource-explain" class="explain"> active-source-explain </span>
</td>
</tr>

<tr>
<td class="l">
<span id="scalepmimg">
+-
</span>
Image scale:
</td>
<td>
<span id="scaletext">
scaletext
</span>
</td>
</tr>

<tr><td colspan="2" id="scalepanelholder" style="padding-top:0px; padding-bottom:0px;"></td></tr>

<tr>
<td class="l">
{{ form.tweak }} Tweak:
</td>
<td>
{% if tweakorder_err %}
<span class="err">{{ tweakorder_err }}</span>
<br />
{% endif %}
Tweak order: {{ form.tweakorder }}
</td>
</tr>

<tr>
<td class="l">
Parity:
</td>
<td>
{{ form.parity }}
</td>
</tr>

<tr>
<td colspan="2" id="tdsubmit">
<input type="submit" name="submit" value="Submit" />
</td>
</tr>

</table>

<div id="hiddenitems" style="visibility:hidden;">

<img src="/anmedia/plus.png" alt="+" id="scaleplus" onclick="scaleshowhide(true)" />
<img src="/anmedia/minus.png" alt="-" id="scaleminus" onclick="scaleshowhide(false)" />

<span id="imgurl-input">
{{ form.url }}
</span>

<span id="imgurl-label">
Image URL:
</span>

<span id="imgurl-error">
{% if imgurl_err %}
{{ imgurl_err }}
<br />
{% endif %}
</span>

<span id="imgurl-explain">
<br />
Explanatory text about image URL
</span>

<span id="imgfile-input">
{{ form.file }}
</span>

<span id="imgfile-label">
Image file: 
</span>

<span id="imgfile-error">
{% if imgfile_err %}
{{ imgfile_err }}
<br />
{% endif %}
</span>

<span id="imgfile-explain">
<br />
Explanatory text about image file
</span>

<span id="fitscols">

<table id="xycol">
{% if xcol_err %}
<tr><td /><td class="err"> {{ xcol_err }} </td></tr>
{% endif %}
<tr><td>X column:</td><td> {{ form.xcol }} </td></tr>
{% if ycol_err %}
<tr><td /><td class="err"> {{ ycol_err }} </td></tr>
{% endif %}
<tr><td>Y column:</td><td> {{ form.ycol }} </td></tr>
</table>

</span>

<span id="fitsfile-input">
File: {{ form.file }}
</span>

<span id="fitsfile-label">
FITS table: 
</span>

<span id="fitsfile-error">
{% if fitsfile_err %}
{{ fitsfile_err }}
<br />
{% endif %}
</span>

<span id="fitsfile-explain">
Explanatory text about FITS file
</span>

<span id="fitsurl-input">
URL: {{ form.url }}
</span>

<span id="fitsurl-label">
FITS URL:
</span>

<span id="fitsurl-error">
{% if fitsurl_err %}
{{ fitsurl_err }}
<br />
{% endif %}
</span>

<span id="fitsurl-explain">
Explanatory text about FITS URL
</span>

<div id="scalepanel">

<ul id="scalelist">
<li>
Units: {{ form.scaleunits }}
<div class="explain">
Choose how you want to describe the scale of your field.
</div>
</li>
<li>
{% if scaletype_err %}
<div class="err" id="fstype-err">
{{ scaletype_err }}
</div>
{% endif %}
Values:
<div class="explain">
Fill in ONE of the following pairs of values:
</div>

<table border="0" class="c" id="scalevalues">

<colgroup span="2" class="boxcol" />
<colgroup span="1" id="spacercol" />
<colgroup span="2" class="boxcol" />

<tr id="toprow">
<td colspan="2" id="boundscell"> {{ scale_ul }} Bounds</td>
<td />
<td colspan="2" id="errestcell"> {{ scale_ee }} Estimate &plusmn; Error</td>
</tr>

{% if scalelower_err or scaleest_err %}
<tr>
<td></td>
{% if scalelower_err %}
<td class="err" id="fsl-err" col="lr"> {{ scalelower_err }} </td>
{% else %}
<td></td>
{% endif %}
<td />
<td></td>
{% if scaleest_err %}
<td class="err" id="fsl-err" col="rr"> {{ scaleest_err }} </td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endif %}


<tr>
<td class="scalelabel" col="ll"> Lower bound:</td>
<td col="lr"> {{ form.scalelower }} </td>

<td />

<td class="scalelabel" col="rl">Estimate:</td>
<td col="rr"> {{ form.scaleest }} </td>
</tr>


{% if scaleupper_err or scaleerr_err %}
<tr>
<td></td>
{% if scaleupper_err %}
<td class="err" id="fsl-err" col="lr"> {{ scaleupper_err }} </td>
{% else %}
<td></td>
{% endif %}

<td />

<td></td>
{% if scaleerr_err %}
<td class="err" id="fsl-err" col="rr"> {{ scaleerr_err }} </td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endif %}

<tr id="bottomrow">
<td class="scalelabel" col="ll">Upper bound:</td>
<td col="lr"> {{ form.scaleupper }} </td>

<td />

<td class="scalelabel" col="rl">% Error:</td>
<td col="rr"> {{ form.scaleerr }} </td>
</tr>
</table> <!-- end upper/lower estimate/error table -->

</td></tr>

</table>
</li>

</div> <!-- end "scalepanel" -->

</div> <!-- end "hiddenitems" -->



</form>
{% endblock newjobcontent %}
