{% extends "portal/newjob.html" %}

{% block moreinlinecss %}
table.c { margin-left:auto; margin-right:auto; }
td.l { text-align:right; }
#formtable { margin-left:auto; margin-right:auto; }
#formtable > tbody > tr > td { padding:10px; }
.explain { color:blue; font-size:80%; }
#scalelist { list-style:none; }
#scalelist > li { margin-top:1em; }
#scalepanelholder { padding:0px; }
#tdsubmit { text-align:center; }
ul.xycol { list-style:none; margin-bottom:0px; }
ul.xycol > li { margin:5px; }
{% endblock moreinlinecss %}

{% block javascript %}
<script type="text/javascript">
var srcurl;
var srcurl_label;
var srcurl_explain;
var srcfile;
var srcfile_label;
var srcfile_explain;
var srcfitsfile;
var srcfitsfile_label;
var srcfitsfile_explain;
var srcfitsurl;
var srcfitsurl_label;
var srcfitsurl_eplain;
var oldsource = '';
var scaleplus;
var scaleminus;
var scalepanel;
var selectunits;
var ulradio;
var evradio;
var scalelo;
var scalehi;
var scaleest;
var scaleerr;

function submitForm() {
  hidden = document.getElementById('hiddenitems');
  // add form elements to the "hidden" div so that they are part of the
  // document tree so their values get submitted with the form.
  elements = [ selectunits, ulradio, evradio, scalelo, scalehi,
    scaleest, scaleerr ];
  formelements = document.form.longform.elements;
  for (var i=0; i<elements.length; i++) {
    var gotit = false;
    for (var j=0; j<formelements.length; j++) {
      if (elements[i] == formelements[j]) {
        gotit = true;
      }
    }
    if (!gotit) {
      hidden.appendChild(elements[i]);
    }
  }
  return true;
}  

function sourceChanged() {
  selectsource = document.getElementById('id_xysrc');
  if (selectsource.value == oldsource) {
    return;
  }
  oldsource = selectsource.value;
  switch (selectsource.value) {
  case 'url':
    src = srcurl;
	label = srcurl_label;
	explain = srcurl_explain;
	break;
  case 'file':
    src = srcfile;
	label = srcfile_label;
	explain = srcfile_explain;
	break;
  case 'fitsfile':
    src = srcfitsfile;
	label = srcfitsfile_label;
	explain = srcfitsfile_explain;
	break;
  case 'fitsurl':
    src = srcfitsurl;
	label = srcfitsurl_label;
	explain = srcfitsurl_explain;
	break;
  }
  activesource = document.getElementById('activesource');
  removeAllChildren(activesource);
  activesource.appendChild(src);
  activesource_label = document.getElementById('activesource-label');
  removeAllChildren(activesource_label);
  activesource_label.appendChild(label);
  activesource_explain = document.getElementById('activesource-explain');
  removeAllChildren(activesource_explain);
  activesource_explain.appendChild(explain);
}

function removeAllChildren(node) {
	while (node.childNodes.length) {
		node.removeChild(node.childNodes[0]);
	}
}

function onLoad() {
  srcurl      = document.getElementById('imgurl-input');
  srcfile     = document.getElementById('imgfile-input');
  srcfitsurl  = document.getElementById('fitsurl-input');
  srcfitsfile = document.getElementById('fitsfile-input');

  srcurl_label      = document.getElementById('imgurl-label');
  srcfile_label     = document.getElementById('imgfile-label');
  srcfitsurl_label  = document.getElementById('fitsurl-label');
  srcfitsfile_label = document.getElementById('fitsfile-label');

  srcurl_explain      = document.getElementById('imgurl-explain');
  srcfile_explain     = document.getElementById('imgfile-explain');
  srcfitsurl_explain  = document.getElementById('fitsurl-explain');
  srcfitsfile_explain = document.getElementById('fitsfile-explain');

  sourceChanged();

  scaleplus  = document.getElementById('scaleplus');
  scaleminus = document.getElementById('scaleminus');
  scalepm = document.getElementById('scalepmimg');
  removeAllChildren(scalepm);

  scalepanel = document.getElementById('scalepanel');
  selectunits = document.getElementById('id_scaleunits');
  ulradio = document.getElementById('scaletype_0');
  evradio = document.getElementById('scaletype_1');
  scalelo = document.getElementById('id_scalelower');
  scalehi = document.getElementById('id_scaleupper');
  scaleest = document.getElementById('id_scaleest');
  scaleerr = document.getElementById('id_scaleerr');

  holder = document.getElementById('scalepanelholder');
  removeAllChildren(holder);

  {% if scaletype_err or scalelower_err or scaleupper_err or scaleest_err or scaleerr_err %}
  scaleshowhide(true);
  {% else %}
  scaleshowhide(false);
  {% endif %}

  scalechanged();
}
function setFsUl() {
  var u = document.getElementById('scaletype_0');
  u.checked = 1;
  scalechanged();
}
function setFsEv() {
  var u = document.getElementById('scaletype_1');
  u.checked = 1;
  scalechanged();
}
function scaleshowhide(show) {
  scalepm = document.getElementById('scalepmimg');
  removeAllChildren(scalepm);
  holder = document.getElementById('scalepanelholder');
  if (show) {
    child = scaleminus;
	holder.appendChild(scalepanel);
  } else {
    child = scaleplus;
	removeAllChildren(holder);
  }
  scalepm.appendChild(child);
}
function unitsChanged() {
  scalechanged();
}
function scalechanged() {
  scaletxt = document.getElementById('scaletext');
  val = '';
  if (ulradio.checked) {
	lower = scalelo.value;
    upper = scalehi.value;
    if (lower == '') {
      lower = '(none)';
    }
    if (upper == '') {
      upper = '(none)';
    }
    val = 'between ' + lower + ' and ' + upper;
  } else if (evradio.checked) {
  	est = scaleest.value;
    err = scaleerr.value;
    if (est == '') {
      est = '(none)';
    }
    if (err == '') {
      err = '(none)';
    }
    val = est + ' plus or minus ' + err + ' %';
  } else {
    val = '(none)';
  }
  switch (selectunits.value) {
  case 'arcsecperpix':
    txt = val + " arcseconds per pixel";
    break;
  case 'arcminperpix':
    txt = val + " arcminutes per pixel";
    break;
  case 'arcminwidth':
    txt = val + " arcminutes wide";
    break;
  case 'degreewidth':
    txt = val + " degrees wide";
    break;
  case 'focalmm':
    txt = "focal length of " + val + " mm";
	break;
  }
  removeAllChildren(scaletxt);
  scaletxt.appendChild(document.createTextNode("Image scale: " + txt));
}
</script>
{% endblock javascript %}

{% block bodytag %}
<body onload="onLoad()">
{% endblock bodytag %}

{% block logo %}
<div id="logo">
{% include "logo.html" %}
</div>
{% endblock logo %}

{% block banner %}
{% endblock banner %}

{% block newjobcontent %}
<form enctype="multipart/form-data" method="post">

<table border="1" id="formtable">

<tr>
<td class="l">Data source:</td>
<td> {{ form.xysrc }} </td>
</tr>

<tr>
<td class="l">
<span id="activesource-label">
active-source-label
</span>
</td>
<td>
<span id="activesource">
active source
</span>
<span id="activesource-explain" class="explain">
active-source-explain
</span>
</td>
</tr>

<tr>
<td colspan="2">
<span id="scalepmimg">
+-
</span>
<span id="scaletext">
scaletext
</span>
</tr>

<tr>
<td colspan="2" id="scalepanelholder">
</td>
</tr>

<tr>
<td colspan="2" id="tdsubmit">
<input type="submit" name="submit" value="Submit" />
</td>
</tr>

</table>

<div id="hiddenitems" style="visibility:hidden;">

<img src="/anmedia/plus.png" alt="+" id="scaleplus" onclick="scaleshowhide(true)" />
<img src="/anmedia/minus.png" alt="-" id="scaleminus" onclick="scaleshowhide(false)" />

<span id="imgurl-input">
{{ form.url }}
</span>

<span id="imgurl-label">
Image URL:
</span>

<span id="imgurl-explain">
<br />
Explanatory text about image URL
</span>

<span id="imgfile-input">
{{ form.file }}
</span>

<span id="imgfile-label">
Image file: 
</span>

<span id="imgfile-explain">
<br />
Explanatory text about image file
</span>

<span id="fitsfile-input">
File: {{ form.file }}
<ul class="xycol">
<li>X column: {{ form.xcol }} </li>
<li>Y column: {{ form.ycol }} </li>
</ul>
</span>

<span id="fitsfile-label">
FITS table: 
</span>

<span id="fitsfile-explain">
Explanatory text about FITS file
</span>

<span id="fitsurl-input">
URL: {{ form.url }}
<ul class="xycol">
<li>X column: {{ form.xcol }} </li>
<li>Y column: {{ form.ycol }} </li>
</ul>
</span>

<span id="fitsurl-label">
FITS URL:
</span>

<span id="fitsurl-explain">
Explanatory text about FITS URL
</span>

<div id="scalepanel" style="border-style:groove; border-color:black; border-width:thin; margin-right:auto; margin-left:auto;">

<ul id="scalelist">
<li>
Units: {{ form.scaleunits }}
<div class="cap">
Choose how you want to describe the scale of your field.
</div>
</li>
<li>
{% if scaletype_err %}
<div class="err" id="fstype-err">
{{ scaletype_err }}
</div>
{% endif %}
<div class="cap">
Fill in ONE of the following pairs of values:
</div>

<table border="1" class="c">
<tr><td>

<div class="fuset" id="lu">
<table>
<tr>
<td colspan="2"> {{ scale_ul }} Bounds</td>
</tr>

{% if scalelower_err %}
<tr>
<td></td>
<td class="err" id="fsl-err">
{{ scalelower_err }}
</td>
</tr>
{% endif %}

<tr>
<td>
Lower bound:</td>
<td> {{ form.scalelower }} </td>
</tr>

{% if scaleupper_err %}
<tr>
<td></td>
<td class="err" id="fsl-err">
{{ scaleupper_err }}
</td>
</tr>
{% endif %}

<tr>
<td>Upper bound:</td>
<td> {{ form.scaleupper }} </td>
</tr>
</table>
</div>

</td><td>

<div class="fuset" id="ev">
<table>
<tr>
<td colspan="2"> {{ scale_ee }} Estimate+/-Error</td>
</tr>

{% if scaleest_err %}
<tr>
<td></td>
<td class="err" id="fsl-err">
{{ scaleest_err }}
</td>
</tr>
{% endif %}

<tr>
<td>Estimate:</td>
<td> {{ form.scaleest }} </td>
</tr>

{% if scaleerr_err %}
<tr>
<td></td>
<td class="err" id="fsl-err">
{{ scaleerr_err }}
</td>
</tr>
{% endif %}

<tr>
<td>% Error:</td>
<td> {{ form.scaleerr }} </td>
</tr>
</table>
</div>

</td></tr>
</table>
</li>

</div> <!-- end "scalepanel" -->

</div> <!-- end "hiddenitems" -->



</form>
{% endblock newjobcontent %}
