{% extends "portal/base.html" %}

{% block title %}
Astrometry.net Job {{ jobid }}: {{ jobstatus }}
{% endblock title %}

{% block inlinecss %}
#logout { float:right; padding:5px; margin-top:0; margin-bottom:auto;}
#logo { float:left; width:300px; padding:5px;}
h3.c { text-align:center; }
p.c { text-align:center; }
ul.c { text-align:center; }
.c { margin-left:auto; margin-right:auto; }
td {border-width: 0;}
th {border-width: 0;}
#onsky { margin-left:auto; margin-right:auto; text-align:center; }
#onsky > a:link { color:white; }
#onsky > a:visited { color:white; }
#onsky > a:hover { color:gray; }
#onsky > a:active { color:yellow; }
#annotation { margin-left:auto; margin-right:auto; text-align:center; }
#annotation > a:link { color:white; }
#annotation > a:visited { color:white; }
#annotation > a:hover { color:gray; }
#annotation > a:active { color:yellow; }
#gmapslink { margin-left:auto; margin-right:auto; text-align:center; }

#objs2 {width:40%; margin-left:auto; margin-right:auto; }

.bigbutton { font-size:110%; padding:2px; padding-left:10px; padding-right:10px; margin:10px; }
{% endblock inlinecss %}

{% comment %}
#objs {margin-left:auto; margin-right:auto; width:100%; }
.c { margin-left:auto; margin-right:auto; text-align:center; }
#logo { width:300px; margin-left:auto; margin-right:auto; text-align:center; padding:5px;}
{% endcomment %}

{% block loggedin %}
{% include "portal/logout.html" %}
{% endblock loggedin %}

{% block content %}
<div style="clear:both;">
</div>

<hr />

{% if jobsolved %}
<h3 class="c">Your field is at RA,Dec = ( {{ racenter }}, {{ deccenter }} ) degrees
<br />
and spans {{ fieldw }} x {{ fieldh }} {{ fieldunits }}.
</h3>

<hr />

{% if objsinfield %}
<div id="objs2">
<p>
Your field contains:
<ul>
{% for obj in objsinfield %}
<li> {{ obj }} </li>
{% endfor %}
</ul>
</p>
</div>
<hr />

<div id="annotation">
<p>Your field plus annotations:</p>
<a href="{{ annotation_big }}"><img src="{{ annotation }}" alt="your image plus our annotations" /></a>
</div>
<hr />

{% endif %}

<div id="onsky">
<p>Your field on the sky:</p>
{% for zimg,zlink in zoomimgs %}
<a href="{{ zlink }}"><img src="{{ zimg }}" alt="your field on the sky" /></a>
{% endfor %}
</div>

<div id="gmapslink">
<a href="{{ gmapslink }}">View in Google Maps browser</a>
</div>

{% comment %}
<div id="overlay">
<p>Your field plus our index objects:
<br />Green: stars from the index
<br />Red: stars from your image
<br />
<a href="{{ overlay_big }}"><img src="{{ overlay }}" alt="our index stars plus your image stars" /></a>
</p>
</div>
<hr />
{% endcomment %}

{% endif %}



<table cellpadding="3" border="1" class="c">

<tr><th colspan="2">Job Status</th></tr>

<tr><td>Job Id:</td><td> {{ jobid }} </td></tr>
<tr><td>Job Status:</td><td> {{ jobstatus }} </td></tr>

</table>

{% if jobsolved %}
{% else %}

<table cellpadding="3" border="1" class="c">

<tr><th>Tail of the Log File</th></tr>

<tr><td> {{ logfile_tail }} </td></tr>

</table>


{% endif %}


{% endblock content %}
