{% extends "portal/base.html" %}

{% block title %}
Astrometry.net Job Status: {{ jobid }}
{% endblock title %}

{% block inlinecss %}
#logout { float:right; padding:5px; margin-top:0; margin-bottom:auto;}
#logo { width:300px; margin-left:auto; margin-right:auto; text-align:center; padding:5px;}
#banner { text-align:center; padding:5px;}
.err { font-size:110%; color:red; text-align:center;}
#switch_views { font-size:75%; text-align:center; color:#999; }
#switch_views a { color:#999; }
.bigbutton { font-size:110%; padding:2px; padding-left:10px; padding-right:10px; margin:10px; }
{% endblock inlinecss %}

{% block loggedin %}
{% include logout.html %}
{% endblock loggedin %}

{% block content %}
<div style="clear:both;">
</div>




{% endblock content %}
