{% extends "portal/base.html" %}

{% block inlinecss %}
#summarytable { margin-left:auto; margin-right:auto; border-collapse:collapse; border-style:solid; border-width:medium; border-color:black; }
#summarytable td { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:none solid; border-width:thin; border-color:gray; }
#summarytable th { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:solid; border-width:thin; border-color:gray; }
td.c { text-align:center; }
tr.even td { background-color:#EEE; }
tr.odd td {}
.smalllink { font-size:80%; }
{% endblock inlinecss %}

{% block content %}

{% if jobs %}
<h3 style="text-align:center;">Jobs</h3>
<table id="summarytable">
<tr>
<th>Job Id</th>
<th>Submitted</th>
<th>Status</th>
<th>Field</th>
<th>Field<br />Redistributable?</th>
<th>Job open to<br />anyone?</th>
</tr>
{% for job in jobs %}

<tr class="{% cycle even,odd %}">

<td><a href="{{ statusurl }}{{ job.jobid }}"> {{ job.jobid }} </a></td>

<td> {{ job.jobset.format_submittime_brief }} </td>

<td class="c">{{ job.status }}
{% if job.failurereason %}
: {{ job.failurereason }}
{% endif %}
</td>

<td>
{% if job.url %}
<a href="{{ job.url }}">{{ job.url }}</a>
{% endif %}
{% if job.userfilename %}
{# <a href="{{ getfileurl }}{{ job.jobid }}&f=original"></a> #}
File: {{job.userfilename}}
{% endif %}
</td>

<td class="c">
<form action="/job/changeperms/" method="post" name="fieldpermsform_{{ forloop.counter }}">
<input type="hidden" name="fieldid" value="{{ job.field.id }}" />
{% if job.field.redistributable %}
<input type="hidden" name="redist" value="0" />
Yes
&nbsp;
<a href="javascript:document.forms.fieldpermsform_{{ forloop.counter }}.submit();" class="smalllink">Revoke</a>
{% else %}
<input type="hidden" name="redist" value="1" />
No
&nbsp;
<a href="javascript:document.forms.fieldpermsform_{{ forloop.counter }}.submit();" class="smalllink">Grant</a>
{% endif %}
</form>
</td>

<td class="c">
<form action="/job/changeperms/" method="post" name="jobpermsform_{{ forloop.counter }}">
<input type="hidden" name="jobid" value="{{ job.jobid }}" />
{% if job.allowanonymous %}
<input type="hidden" name="allowanon" value="0" />
Yes
&nbsp;
<a href="javascript:document.forms.jobpermsform_{{ forloop.counter }}.submit();" class="smalllink">Revoke</a>
{% else %}
<input type="hidden" name="allowanon" value="1" />
No
&nbsp;
<a href="javascript:document.forms.jobpermsform_{{ forloop.counter }}.submit();" class="smalllink">Grant</a>
{% endif %}
</form>
</td>

</tr>
{% endfor %}

</table>
{% else %}
<h3 style="text-align:center;">No Jobs</h3>
{% endif %}{# jobs #}

{% if voimgs %}
<h3 style="text-align:center;">Images Published to the VO</h3>
<table id="summarytable">

<tr>
<th>Field Id</th>
<th>Center (RA,Dec)</th>
<th>Image Format</th>
<th>Image Size</th>
</tr>

{% for img in voimgs %}
<tr>
<td class="c">{{ img.field.id }}</td>
<td class="c">({{ img.ra_center }}, {{ img.dec_center }})</td>
<td class="c"> {{ img.field.imgtype }} </td>
<td class="c"> {{ img.field.imagew }} x {{ img.field.imageh }} </td>
</tr>
{% endfor %}

</table>
{% else %}
<h3 style="text-align:center;">No Images Published to the VO</h3>
{% endif %}{# voimgs #}

{% endblock content %}

