<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Astrometry.net{% endblock %}</title>
</head>

<body>

{% block logo %}
<div id="logo">
{% include "logo.html" %}
</div>
{% endblock logo %}

{% block usernameblock %}
<div id="username">
{% if user.is_authenticated %}
{% block loggedin %}
    <p>Logged in as {{ user.username }}.</p>
{% endblock %}
{% else %}
{% block notloggedin %}{% endblock %}
{% endif %}
</div>
{% endblock usernameblock %}

<div id="content">
{% block content %}
base content
{% endblock %}
</div>

</body>
</html>
