{% extends "portal/base.html" %}

{% block title %}
Astrometry.net Job
{% endblock title %}

{% block inlinecss %}
#logout { float:right; padding:5px; margin-top:auto; margin-bottom:auto;}
#logo   { float:left;  padding:5px;}
{% endblock inlinecss %}

{% block loggedin %}
<div id="logout">
Logged in as <b>{{ user.username }}</b>
<form method="post" action="/logout/">
<input type="submit" name="logout" value="Logout" />
</form>
</div>
{% endblock loggedin %}

{% block content %}
<div style="clear:both;">
</div>

<form method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" />
</form>
{% endblock content %}

